.sponserCard_container{
    width: 300px;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 5px;
    height: 300px;
    border-radius: 20px !important;
}

.sponserCard_header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sponserCard_header_image{
    margin-top: 9px;
    margin-left: 10px;
}

.sponserCard_header_text{
    margin-left: 15px;
    margin-top: 4px;
}

.sponserCard_body{
    margin-left: 16px;
    /* margin-top: 12px; */
}

.sponsercard_body_con {
    display: flex;
    align-items: center;
}

.sponcard_icon_text{
    margin-left: 20px;
    font-size: 11px;
    font-weight: 200;
    color: grey;
}

.sponserCard_footer{
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sponserCard_footer_text{
    margin-right: 50px;
    font-size: 13px;
    font-weight: lighter;
}

.social_profiles{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social_profiles_text{
    font-weight: 700;
}

.social_logo{
    margin-left: -16px
}

.sponserCard_footer_Value{
    font-weight: 700;
    font-size: 1rem;
}

.sponser_text{
    height: 20px;
}

.social_logo_text{
    font-size: 1rem;
}


/* friends  */
.friends_container{
    overflow-y: scroll;
    height: 300px;
}

.friends_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: '200px';
}

.friends_name {
    margin-right: 15px;
    font-size: 20px;
    font-weight: 700 !important;
}

.friends_name:hover {
    color: #00D5FA;
}

.accepted_request{
    font-size: 15px;
    font-weight: 500;
    color: #2dfb2d;
}

.request_rejected{
    font-size: 20px;
    font-weight: 600;
    margin-left: 20%;
    margin-top: 2%;
}

.friends_paper{
    width: 350px;
    height: 50px;
    border-radius: 20px;
}