body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.radioBox{
  position: relative;
  right: 82%;
}

.radioBox1{
  position: relative;
  right: 75%;
}

.ImageContainer{
  display: flex;
  margin-top: 20px;
}

.ImageAvatar{
  max-width: 35px;
  max-height: 35px;
}

.TextH{
  font-weight: 500;
  margin-left: 10px;
  margin-top: 10px;
}